
nav{
    font-family: serif;
    text-transform: uppercase;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    float: right;
}

nav li{
    
    margin: 20px;
    font-weight: 900;
    font-size: 1.0em;
    
}

nav a{
    text-decoration: none;
    color: rgb(243, 192, 26);
    
}

nav a:hover,
nav a:active{
    color: rgb(239, 243, 243);
}

.sign-button{
    display: block;
    width: 100px;
    height: 40px;
    background: #c51;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

#dashboard{
    margin-left: 140px;
    background-color: #eee;
}

#dashboard-segment{
    padding: 30px;
    margin: 10px 20px;
}
#board{
    text-align: center;
}

#board button {
    margin-top: 40px;
}
#board table {
    width: 85%;
    margin-left: 20px;
    margin-top: 40px;
}

#events-card{
   margin-right: 10px;
   
}

#menu-bar{
    margin-top: 0;
    padding: 20px;
}


#form-section{
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}


.all-reports-table {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}


#user-page{
    margin-top: 70px;
}


.icon1{
    height: 50px;
    width: 50px;

}

#icon-container{
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
}

#message-container{
    padding: 30px;
    margin-bottom: 40px;
}